# ==============================================
# Policy File of /system/binakmd09911 Executable File 


# ==============================================
# Type Declaration
# ==============================================

type af7133e_exec , exec_type, file_type;
type af7133e ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive af7133e;
init_daemon_domain(af7133e)
#unconfined_domain(af7133e)
# Purpose : M-sensor daemon for access driver node
allow af7133e msensor_device:chr_file { open ioctl read write };
allow af7133e gsensor_device:chr_file { open ioctl read write };
allow af7133e input_device:dir { search open read write };
allow af7133e input_device:file { open read };
allow af7133e input_device:chr_file { open ioctl read write };
# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
allow af7133e system_data_file:dir { write add_name create setattr };
allow af7133e system_data_file:file { open write read create setattr};
allow af7133e system_data_file:dir remove_name;

