# ==============================================
# Policy File of /system/bin/bmx056d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type bmx056d_exec , exec_type, file_type;
type bmx056d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive bmx056d;
init_daemon_domain(bmx056d)
#unconfined_domain(bmx056d)

# Data : WK14.48
# Operation : Migration
# Purpose : M-sensor daemon for access driver node

allow bmx056d msensor_device:chr_file { open read write ioctl };
allow bmx056d gsensor_device:chr_file { open read write ioctl };
allow bmx056d input_device:dir { search open read write };
allow bmx056d input_device:file { open read write ioctl };
allow bmx056d sensor_data_file:dir {search open read write create getattr setattr };
allow bmx056d sensor_data_file:file { open read write create append unlink ioctl getattr setattr };
allow bmx056d system_sensor_data_file:dir { search open read create };
allow bmx056d system_sensor_data_file:file { open read create write };
allow bmx056d bmm050_sensor_log_file:file { open create read write };
allow bmx056d sysfs:file write;
allow bmx056d sysfs_gsensor_file:dir { search open read create };
allow bmx056d sysfs_gsensor_file:file { open read create write };
allow bmx056d sysfs_gsensor_file:lnk_file read;
allow bmx056d sysfs_msensor_file:dir { search open read create };
allow bmx056d sysfs_msensor_file:file { open read create write };
allow bmx056d sysfs_msensor_file:lnk_file read;
# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
allow bmx056d system_data_file:dir { write add_name create setattr};
allow bmx056d system_data_file:file { open create read write setattr};
allow bmx056d shell_data_file:dir { search };
allow bmx056d shell_data_file:file { open read write create append unlink ioctl getattr setattr };
