allow installd mtklogger_data_file:dir { create_dir_perms relabelfrom relabelto };
allow installd mtklogger_data_file:lnk_file { create_file_perms relabelfrom relabelto };
allow installd mtklogger_data_file:{ file sock_file fifo_file } { getattr unlink rename relabelfrom relabelto setattr };
