# ==============================================
# MTK Policy Rule
# ============
# Date : WK14.38
# Operation : Migration
# Purpose : run guitar_update for touch F/W upgrade.
allow kernel fuse:dir search;

# Date : WK14.39
# Operation : Migration
# Purpose : ums driver can access blk_file
allow kernel block_device:blk_file { read write };
allow kernel loop_device:blk_file { read };

# Date : WK14.43
# Operation : Migration
# Purpose :  Access to TC1 partition for reading MAC
allow kernel platformblk_device:blk_file { open read write };
