# ==============================================
# Policy File of /system/bin/mc6470d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mc6470d_exec , exec_type, file_type;
type mc6470d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive mc6470d;
init_daemon_domain(mc6470d)
#unconfined_domain(mc6470d)

#add permission
allow mc6470d gsensor_device:chr_file {open ioctl read write};
allow mc6470d sysfs:file {open read write};
allow mc6470d msensor_device:chr_file {open ioctl read write};
allow mc6470d mc6470d:udp_socket create;

# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
allow mc6470d system_data_file:dir { write add_name create setattr };
allow mc6470d system_data_file:file { open write read create setattr};