# ==============================================
# Policy File of /system/binmemsicp Executable File 


# ==============================================
# Type Declaration
# ==============================================

type memsicp_exec , exec_type, file_type;
type memsicp ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(memsicp)


allow memsicp gsensor_device:chr_file { open ioctl read write };
allow memsicp input_device:dir { search open read write };
allow memsicp input_device:file { open read };
# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
allow memsicp system_data_file:dir { write add_name create setattr };
allow memsicp system_data_file:file { open write read create setattr};


