# ==============================================
# Policy File of /system/bin/program_binary_service Executable File

# ==============================================
# Type Declaration
# ==============================================
type program_binary, domain;
type program_binary_exec, exec_type, file_type;
type program_binary_service, service_manager_type;

# ==============================================
# MTK Policy Rule
# ==============================================
init_daemon_domain(program_binary)

# Date : 2014/1/6
# Operation : New
# Purpose : Cache program binaries for HWUI usage
binder_service(program_binary)
binder_use(program_binary)
binder_call(domain, program_binary)

# Date : 2014/1/6
# Operation : New
# Purpose : To manipulate GPU
allow program_binary gpu_device:chr_file { open read write ioctl };
allow program_binary gpu_device:chr_file getattr;

# Date : 2014/1/6
# Operation : New
# Purpose : To be a service
allow program_binary program_binary_service:service_manager add;

# Date : 2014/1/6
# Operation : New
# Purpose : To allow binder call to system server.
allow program_binary system_server:binder call;
