# ==============================================
# Policy File of /system/bin/qmcX983d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type qmcX983d_exec , exec_type, file_type;
type qmcX983d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive qmcX983d;
init_daemon_domain(qmcX983d)
#unconfined_domain(qmcX983d)

#add permission
allow qmcX983d gsensor_device:chr_file {open ioctl read write};
allow qmcX983d msensor_device:chr_file {open ioctl read write};
allow qmcX983d sysfs:file {read write};

# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
allow qmcX983d system_data_file:dir { write add_name create setattr };
allow qmcX983d system_data_file:file { open write read create setattr};