# ==============================================
# Type Declaration
# ==============================================

# type servicemanager, domain;
# type servicemanager_exec, exec_type, file_type;

# ==============================================
# Android Policy Rule
# ==============================================

# servicemanager - the Binder context manager
permissive servicemanager;
