import /init.variant.${ro.boot.cmv}.rc

on boot
    # Enable KSM
#    write /sys/kernel/mm/ksm/pages_to_scan 100
#    write /sys/kernel/mm/ksm/sleep_millisecs 500
#    write /sys/kernel/mm/ksm/run 1

    # Tune I/O
#    write /sys/block/mmcblk0/queue/add_random 0
#    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
#    write /sys/block/mmcblk0/bdi/read_ahead_kb 128

    # Tap to wake
#    chown system radio /sys/devices/soc/soc:touch/enable_gesture
#    chmod 664 /sys/devices/soc/soc:touch/enable_gesture

on post-fs
    swapon_all /fstab.swap
    write /proc/sys/vm/page-cluster 0
