<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mediatek.fmradio.tests"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.ACCESS_FM" />

    <application>
        <uses-library android:name="android.test.runner" />
        <!-- uses-library android:name="com.jayway.android.robotium" /> -->
    </application>

    <instrumentation
        android:name=".FmRadioFunctionRunner"
        android:label="FM Radio function auto-tests"
        android:targetPackage="com.mediatek.fmradio" />
    <instrumentation
        android:name=".FmRadioPerformanceRunner"
        android:label="FM Radio performance auto-tests"
        android:targetPackage="com.mediatek.fmradio" />
    <instrumentation
        android:name="com.mediatek.fmradio.tests.FmRadioLaunchPerformance"
        android:label="FmRadio Launch Performance"
        android:targetPackage="com.mediatek.fmradio" />

    <uses-permission android:name="android.permission.RUN_INSTRUMETATION" />
</manifest> 
